truestudio/stm32*/.metadata/

truestudio/stm32*/*/*.o
truestudio/stm32*/*/*.a
truestudio/stm32*/*/asp.*
truestudio/stm32*/*/STM32L4_xcube.map
truestudio/stm32*/*/cfg1_out.*
truestudio/stm32*/*/kernel_cfg.*
truestudio/stm32*/*/offset.h

asp_kernel/tools/TrueSTUDIO/stm32*/.metadata/

*.d

truestudio/stm32*/*/static_netinfo.h
